@use 'base/colors' as *;
@use 'base/spacing' as *;

.primary-btn {
    padding: $sp-100 $sp-200;
    border-radius: 18px;
    background-image: linear-gradient(to right, $primary-500, $secondary-500);
    color: $neutral-50;
    cursor: pointer;
    transition: transform 0.3s;

    &.browse {
        align-self: center;
    }

    &:hover {
        background-image: linear-gradient(to right, $primary-600, $secondary-600);
        transform: scale(1.03);
    }
}

.subscribe-btn:hover {
    background-image: linear-gradient(to right, $primary-600, $secondary-600);
}
