@use 'base/spacing' as *;
@use 'base/colors' as *;
@use 'abstracts/mixins' as *;

.featured {
    display: flex;
    padding-block: $sp-800;
    gap: $sp-400;

    h2 {
        text-align: center;
    }

    .cards {
        gap: $sp-300;
        overflow-x: auto;
        padding-block: $sp-300;
    }

    .card {
        width: clamp(200px, calc(11.4rem + 4.7vw), 250px);
        height: clamp(300px, calc(17.65rem + 4.7vw), 350px);
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        border: 1px solid $neutral-50;
        cursor: pointer;
        transition: transform 0.3s;
        box-shadow: 1px 1px 8px $neutral-500;
        
        &__price {
            padding: $sp-50 $sp-100;
            @include text-style(footnote);
            @include font(600);
            background-color: hsla(0, 0%, 5%, 50%);
            border-radius: 24px;
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
        }
        
        &__favorite-btn {
            position: absolute;
            top: 0;
            right: 0;
            padding: $sp-150 $sp-200;
        }

        &__text {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: $sp-150;

            h3 {
                padding-bottom: $sp-0;
            }
        }

        .fade-bottom-mask {
            -webkit-mask-image: linear-gradient(to bottom, $neutral-500 50%, transparent 100%);
            mask-image: linear-gradient(to bottom, $neutral-500 50%, transparent 100%);
        }
        

        &:hover {
            transform: scale(1.03);
        }
    }
}

@include respond(up, tablet) {
    .cards {
        padding-inline: $sp-200;
    }

}